@model JFYInformation.Models.Company
@{
    ViewBag.Title = "公司编辑";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="head-tietle">@Model.CompanyName - 公司修改 <a href="/Company/CompanyShow/@Model.ID">公司展示</a></h1>

@using (Html.BeginForm("CompanyEdit", "Company", FormMethod.Post, new { id = "frmAddCompany" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.ID" name="ID" />
    <table class="detail-table">
        <tr>
            <td class="row-title">公司名称</td>
            <td>
                <input name="CompanyName" value="@Model.CompanyName" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                地址
            </td>
            <td>
                <input name="Address" value="@Model.Address" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                联系人
            </td>
            <td>
                <input name="Contacts" value="@Model.Contacts" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                联系电话
            </td>
            <td>
                <input name="Phone" class="textbox" />
                原电话：
                @if (Model.Source !=null && Model.Source.Contains("58同城"))
                {
                    <img src="http://image.58.com/showphone.aspx?v=@Model.Phone" alt="@Model.CompanyName" />
                }
                else
                {
                    <span>@Model.Phone</span>
                }
            </td>
        </tr>
        <tr>
            <td class="row-title">
                来源
            </td>
            <td>
                <input name="Source" value="@Model.Source" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                描述
            </td>
            <td>
                <input name="Description" value="@Model.Description" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                行业
            </td>
            <td>
                <input name="Industry" value="@Model.Industry" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                URl
            </td>
            <td>
                <input name="URL" value="@Model.URL" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                公司性质
            </td>
            <td>
                <input name="Property" value="@Model.Property" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                公司规模
            </td>
            <td>
                <input name="Scale" value="@Model.Scale" class="textbox" />
            </td>
        </tr>
    </table>
    <p><input type="submit" class="button blue" value="保存" /></p>
    <p>@Html.ValidationSummary(true)</p>
}
