@model PagedList.StaticPagedList<JFYInformation.Models.ViewModel.vCompany>
@using PagedList
@using PagedList.Mvc
@using JFYInformation.Models;
@{
    ViewBag.Title = "公司管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="result-title">
        <h1 class="head-tietle">公司管理 <a href="/Admin/AddCompany">增加</a></h1>
    </div>
    <div class="result-content">
        <form class="search">
            检索：
            <input type="text" name="Begin" class="textbox datetime nullable" placeholder="发布时间(大于)" value="@Request.QueryString["Begin"]" />
            <input type="text" name="End" class="textbox datetime nullable" placeholder="发布时间(小于)" value="@Request.QueryString["End"]" />
            <input type="text" name="Key" class="textbox nullable" placeholder="关键字" />
            <select class="textbox" name="Statu">
                <option value="">处理状态</option>
                <option value="0">未处理</option>
                <option value="1">锁定</option>
                <option value="2">处理</option>
            </select>
            <select class="textbox" name="DealResult">
                <option value="">处理结果</option>
                <option value="0">未处理</option>
                <option value="1">通过</option>
                <option value="2">拒绝</option>
            </select>
            <select class="textbox" name="City">
                <option value="">选择城市</option>
                @foreach (var item in ViewBag.Cities as List<City>)
                {
                    <option value="@item.CityName">@item.CityName</option>
                }
            </select>
            <input type="submit" class="btn btn-info" value="检索" />
            <span class="pagination">共：@ViewBag.CompanyCount 条数据</span>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>公司名</td>
                    <td>规模</td>
                    <td>电话</td>
                    <td>来源</td>
                    <td>处理状态</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Scale</td>
                        <td>
                            @if (item.Source !=null && item.Source.Contains("58同城"))
                            {
                                <img src="@item.Phone" alt="@item.CompanyName" />
                            }
                            else
                            {
                                @item.Phone;
                            }
                        </td>
                        <td>@item.Source</td>
                        <td>
                            @if (item.StatuAsInt == 2)
                            {
                                <span class="red">@item.Statu</span>
                            }
                            else
                            {
                                <span class="blue">@item.Statu</span>
                            }
                        </td>
                        <td>
                            <a href="/Company/CompanyShow/@item.ID">详情</a>
                            <a href="javascript:deleteDialog('/Company/CompanyDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Company/CompanyEdit/@item.ID">修改</a>
                            <a href="javascript:dealDialog(@item.ID)">处理</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index?City="+ @Request.QueryString["City"], new { page = page }))
    </div>
</div>
